@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap');

.page-container-50 {
  background-color: #f2e9e4;
  font-family: 'Indie Flower', cursive;
  color: #2a9d8f;
}

.wrapper-50 {
  background-color: #f2e9e4;
  width: 1160px !important;
  position: relative;
}

.graph-title-50 {
  color: #2a9d8f;
  font-family: 'Indie Flower', cursive;
  font-size: 45px;
  margin-top: 40px;
  background-color: white;
  padding: 8px;
  width: 60%;
  border-radius: 100px;
}

.tooltip-50 {
  opacity: 0;
  position: absolute;
  border: 1.5px dotted #165049;
  box-shadow: 5px 5px 1px 1px rgba(22,80,73, 0.8) ;
  border-radius: 20px;
  top: 0;
  left: 0;
  padding: 0.8em;
  background: white;
  color: black;
  z-index: 10;
  transition: all 0.2s ease-out;
  pointer-events: none;  
  width: 200px;
}

.tooltip-title-50 {
  display: inline;
  font-size: 18px;
  font-family: 'Indie Flower', cursive;
  margin-bottom: 6px;
  margin-left: 3px; 
}

.tooltip-title-pos-50 {
  color: #2a9d8f;
}

.tooltip-title-neg-50 {
  color: #e76f51;
}

.tooltip-info-50 {
  display: block;
  font-size: 12px;
}


