@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200&display=swap');

.page-container17 {
  background-color: #161a1d;
  color: #ede0d4;
}

.wrapper17 {
  position: relative;
  background-color: #161a1d;
  border: 4px solid #ede0d4;
  padding: 30px;
  padding-top: 60px;
  margin-top: 50px;
}

.dropdown-menu17 {
  position: absolute;
  top: 2%;
  left: 5%;
}


.select17 {
  font-family: 'Nunito', sans-serif;
  background: #161a1d;
  color: white;
  font-weight: bold;
  text-transform: uppercase;
  width: 110px;
  height: 40px;
  border: 10px black;
  text-overflow: ellipsis;
  white-space: nowrap;
  border-radius: 10px;
  padding-left: 10px;
  outline: none;
  text-transform: uppercase;
  font-size: 12px;
}

option {
  text-align: center;
  margin: auto;
}