@import url('https://fonts.googleapis.com/css2?family=Give+You+Glory&family=Tangerine:wght@700&display=swap');

.page-container21 {
  background-color: #f7ede2; /* #010B14;*/
  color: #010B14;
}

.wrapper21 {
  position: relative;
  background-color: #f7ede2;
  width: 420px !important;
}

.grid-wrapper21 {
  display: grid;
  justify-content: space-between;
  margin: auto;
  width: 90% !important;
  grid-template-columns: repeat(3, 1fr);
  gap: 1px;
  grid-auto-rows: minmax(100px, auto);
}

.decade-text {
  font-size: 30px;
  font-family: 'Give You Glory', cursive;
  fill: #4a4e69;
  fill-opacity: 0.01;
}

/* for the legend */
.legend-container21 {
  width: 60%;
  margin: auto;
}
